*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-color:whitesmoke;
}

label{
    font-size: 48px;
}

li{
    list-style-type: none;
}


section{
    font-size: x-large;
    text-align: center;
    margin-top: -10%;
    margin: 10px;
    padding: 10px;
}

.card{
    display:block;
    width: 25%;
    font-size: larger;
    text-align: center;
    padding: 10px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: teal;
    color: antiquewhite;
}

.hidden{
    display: none;
}

#correctIncorrect{
    display:block;
    width: 24%;
    font-size: larger;
    text-align: center;
    padding: 10px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    color: antiquewhite;
    border: black solid 2px;
}

#countdownClock{
    text-align: center;
    width: auto;
    padding: 10px;
    margin: 10px;
    margin-left: 75%;
    font-size: 24px;
}

#heading {
    text-align: center;
    font-size: 64px;
    color: purple;
}

#high-score-header{
    font-size: 64px;
    color: dodgerblue;
}

#high-score-page{
    width: 10%;
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-size: 24px;
    color:mediumpurple;
}

#player-scores{
    font-size: 64px;
    margin-top: -1%;
    margin-right: 2%;
}

#player-text{
    font-size: 36px;
}

#quiz-section{
    margin-right: 2%;
    margin-top: .5%;
}

#start-button{
    font-size: xx-large;
    margin-left: 45%;
    margin-top: 2%;
    background-color: cadetblue;
    color:gold;
}

#starting-page{
    text-align: center;
}

#subtext {
    padding: 5px;
    margin: 10%;
    margin-left: 24%;
    margin-right: 24%;
    margin-top: 2%;
    text-align: center;
    font-size: 36px;
}

#top-warning{
    text-align: center;
    margin-top: -7%;
    font-size: 24px;
}

#warning{
    color:crimson;
}

#your-score-text{
    font-size: 56px;
    color: goldenrod;
}
