*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-color:whitesmoke;
}

li{
    list-style-type: none;
    border: red solid 5px;
}

#heading {
    text-align: center;
    font-size: 64px;
    color: purple;
}

#subtext {
    padding: 5px;
    margin: 10%;
    margin-left: 24%;
    margin-right: 24%;
    margin-top: 2%;
    text-align: center;
    font-size: 36px;
}

section{
    font-size: x-large;
    text-align: center;
    margin-top: -10%;
    margin: 10px;
    padding: 10px;
    border: yellow solid 5px;
}

.card{
    display:block;
    width: 25%;
    font-size: larger;
    text-align: center;
    padding: 10px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    border: teal solid 5px;
}

#top-warning{
    text-align: center;
    margin-top: -7%;
    font-size: 24px;
}

#countdownClock{
    text-align: center;
    width: auto;
    padding: 10px;
    margin: 10px;
    margin-left: 75%;
    font-size: 24px;
}

#high-score-page{
    width: 10%;
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-size: 24px;
    color:mediumpurple;
}

#question{

}

#start-button{
    font-size: xx-large;
    margin-right: auto;
    margin-top: 0%;
    background-color: cadetblue;
    color:gold;
}

#starting-page{
    text-align: center;
}

#warning{
    color:crimson;
}